html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden;  */
}
@font-face {
  font-family: 'Digital7';
  src: url('/font/digital-7.ttf') format('truetype');
}
.app-container {
  width: 100%;       /* fleksibel mengikuti layar */
  max-width: 420px;  /* batas maksimal */
  aspect-ratio: 9 / 16;  /* tinggi otomatis mengikuti lebar */
  margin: 0 auto;
  background-color: #ffffff00;
}




