html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* tidak bisa geser */
}

/* FONT */
@font-face {
  font-family: 'Digital7';
  src: url('/font/digital-7.ttf') format('truetype');
}

/* Default: aplikasi TIDAK bisa pinch-zoom */
.app-container {
  touch-action: none;
  max-width: 420px;
  margin: 0 auto;
  background-color: #ffffff00;
}

/* IZINKAN pinch-zoom khusus untuk PDF viewer */
.rpv-core__viewer,
.rpv-core__inner,
.rpv-core__viewer * {
  touch-action: pinch-zoom !important;
}
