html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* FONT */
@font-face {
  font-family: 'Digital7';
  src: url('/font/digital-7.ttf') format('truetype');
}

/* Semua aplikasi tidak bisa zoom */
.app-container {
  touch-action: none;
  max-width: 420px;
  margin: 0 auto;
  background-color: #ffffff00;
}

/* HEADER tetap tidak zoom */
header, .header-container, .header-fixed {
  touch-action: none !important;
}

/* Hanya area PDF yang bisa pinch zoom */
.pdf-wrapper,
.pdf-wrapper * {
  touch-action: pinch-zoom !important;
}
