html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden;  */
}
@font-face {
  font-family: 'Digital7';
  src: url('/font/digital-7.ttf') format('truetype');
}
.app-container {
  max-height: 800px;
  max-width: 480px;   /* ukuran ideal aplikasi mobile */
  margin: 0 auto;     /* biar tetap di tengah */
  background-color: #ffffff00; /* opsional */
}


